@import '../../styles.scss';

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $dark;
    z-index: 100;
    .nav-link,
    .navbar-brand{
        cursor: pointer;
        color: #fff !important;
    }
}